@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600&display=swap');
.App {
  font-family: 'Readex Pro', sans-serif;
}

.App h1,
p {
  color: '#2c3e50';
  margin: 4px;
  padding: 0;
}

.App p {
  color: #000000;
}
